*{
 margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: url(images/banner2.jpg.jpg);
    background-size: cover;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.contact
{
   margin: 100px auto;
  
}

.btn{
    background-color: #00bcd4;
    color: white;
    padding: 1em 2em;
    border-radius: 3em;
    width: 300px;
    margin: 100px auto;
}
.btn a{
    color: #fff;
    text-decoration: none;
} 
.contact
{
    max-width: 800px;
    text-align: center;
}
.contact .img img{
    width: 100px;
}
.contact h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}
.text {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.container
{
    
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin: auto;
    width: 100%;
}
.contactInfo .box{
padding: 5em 3em;
}
.container .contactInfo .box
{
    width: 100%;
    max-width: 400px;
    display: flex;
  
  
}


.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;

}

.contactInfo .box{
    padding-left: 350px;
}
.box img{
    width: 80px;
    border-radius: 50%;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: 300;

}
.icon .img img{
    width: 100px;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: #00bcd4;
}
.contactForm
{
    width: 40%;
    padding: 40px;
    background: #fff;

}
.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;

}
.contactForm.inputBox 
{
  position: relative;
  width:100%;
  margin-top: 10px;
}
.contactForm .inputBox input
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;

}
.contactForm .inputBox span
{
position: absolute;
left: 0;
padding: 5px 0;
font-size: 16px;
margin: 10px 0;
pointer-events: none;
transition: 0.5s;
color: #666;

}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: traslateY(-20px)
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width:991px)
    {
       .contact
       {
        padding: 50px;
       }
       .container
       {
        flex-direction: column;
       }
       .container .contactInfo
       {
        margin-bottom: 40px;
       }
       .container.contactInfo
    {
        width: 100%;
        
    }
    }
